/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Estilos para la sección de Tablas de Posiciones */
#Tablas-de-posiciones {
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#Tablas-de-posiciones h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

#Tablas-de-posiciones h3 {
    color: #343a40;
    margin-top: 20px;
}

table.bordered-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    overflow-x: auto;
    font-size: 14px;
}

th, td {
    padding: 6px;
    text-align: center;
    border: 1px solid #dee2e6;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

tr:hover {
    background-color: #d4edda;
    transition: background-color 0.3s;
}

/* Consulta de Medios para Dispositivos Móviles */
@media only screen and (max-width: 600px) {
    #Tablas-de-posiciones table.bordered-table {
        font-size: 12px; 
    }
}
